<!doctype html>
{% load wagtailcore_tags wagtailimages_tags widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/static/styles/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/static/styles/css/font-awesome.min.css'>    
    <link rel="stylesheet" href='/static/styles/css/style.css'>    
    <title>mDrift</title>
  </head>
  <body>
    <div class="products">

      <nav class="fixed-top navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/static/images/mdrift_logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="m-auto me-0 navbar-nav">
              <li class="nav-item">
                <a class="nav-link " href="/">บ้าน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">เกี่ยวกับเรา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html">บริการ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products/">สินค้า</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/technologies/">เทคโนโลยี</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">โครงการ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="blog.html">บล็อก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact/">ติดต่อเรา</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="banner-s">
        <div class="container h-100 position-relative">
          <div class="row h-100">
            <div class="align-items-center col-12 col-lg-4 d-flex">
              <div>
              <h3 class="text-white font-600 font-32">สินค้า</h3>
              <p class="font-14 text-white fw-light mb-0 mt-4"> รับด้านล่างเป็นบริการหลักที่จัดทำโดยmDrift </p>
              </div>
            </div>         
          </div>
        </div>
      </div>        

      <section class="content bg-white py-5">
        <div class="container">
          <div class="row align-items-lg-center">
            
            <div class="col-12 mb-5">
              <div class="heading pt-3">
                <h2 class="text-center mb-4">ผลิตภัณฑ์ของเรา</h2>
              </div>
              <p class="font-16 text-center"> สินค้าราคาแสนถูกหลายแสนรายการ ครบทุกความต้องการของตู้ยาสามัญประจำบ้านและสำนักงานมืออาชีพ การป้องกันที่มีประสิทธิภาพและเชื่อถือได้สำหรับฟันของคุณ ด้ามแปรงจับกระชับมือ เพรียวบางและสวยงาม. </p>
            </div>
            {% for block in page.productslist %}
              {% include_block block %}
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="quick-contact py-5">
        <div class="container">
          <div class="row align-items-lg-start">
            <div class="col-12">
              <div class="heading pt-3">
                <h2 class="text-center mb-4">ติดต่อด่วน</h2>
              </div>

              <form id="quickContact" class="bg-white p-4" action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
               
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group mb-3">
                    
                      {% if field.field.widget.input_type %}
                      <input type="{% if field.field.widget.input_type == 'text' %}{% endif %}" class="form-control border-0 bg-dark bg-opacity-10 border-0 font-14 ps-4" 
                      name="{{ field.name }}" placeholder="{{ field.help_text }}" >
                      {% endif %}
                  
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group mb-3">
                      <select class="form-control form-select border-0 bg-dark bg-opacity-10 border-0 font-14 ps-4" name="select_service">
                        <option>เลือกบริการ</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group mb-3">
                      <input type="text" class="form-control border-0 bg-dark bg-opacity-10 border-0 font-14 ps-4" placeholder="ชื่อ บริษัท">
                    </div>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control border-0 bg-dark bg-opacity-10 border-0 font-14 ps-4" placeholder="อีเมล">
                    </div>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control border-0 bg-dark bg-opacity-10 border-0 font-14 ps-4" placeholder="เบอร์ติดต่อ">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <textarea class="bg-dark bg-opacity-10 border-0 form-control font-14 ps-4" placeholder="คำอธิบาย" rows="7"></textarea>
                  </div>
                </div>
                {% endfor %}
                <div class="row">
                  <div class="col-12 mt-3 text-center">
                    <button class="btn btn-primary w-50 rounded-pill">ส่ง</button>
                  </div>
                </div>
               
               
              </form>
            </div>
          </div>

        </div>
      </section>

      <footer class="bg-black py-5 px-lg-0 px-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-12 pe-lg-5">
              <a class="navbar-brand">
                <img src="/static/images/mdrift_logo.png">
              </a>
              <form class="align-items-center mt-4 row">
                <div class="col-10">
                  <label class="visually-hidden">อีเมล</label>
                  <input placeholder="กรอกอีเมล์เพื่อสมัครสมาชิก" type="text" class="form-control bg-black font-13">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-close-white btn-primary btn-sm font-600">ไป</button>
                </div>
              </form>
              <p class="font-13 mt-4 text-white-50"> Fusce ut elit aliquet, fermentum leo vel, tempus nunc. Fusce eu rhoncus augue. Fusce vel metus pharetra, fermentum</p>
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/facebook.png" class="w-50"></a></li>
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/twitter.png" class="w-50"></a></li>
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/instagram.png" class="w-50"></a></li>
              </ul>
              <p class="font-11 text-white-50 mb-0">&copy; 2021  ออกแบบโดย mDrift</p>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">เมนู</h4>
              <ul class="list-unstyled">
                <li><a href="/" class="text-white-50 font-500 font-13 text-decoration-none">บ้าน</a></li>
                <li><a href="/about/" class="text-white-50 font-500 font-13 text-decoration-none">เกี่ยวกับเรา</a></li>
                <li><a href="services.html" class="text-white-50 font-500 font-13 text-decoration-none">บริการ</a></li>
                <li><a href="/products/" class="text-white-50 font-500 font-13 text-decoration-none">สินค้า</a></li>
                <li><a href="/technologies/" class="text-white-50 font-500 font-13 text-decoration-none">เทคโนโลยี</a></li>
                <li><a href="projects.html" class="text-white-50 font-500 font-13 text-decoration-none">โครงการ</a></li>
                <li><a href="blog.html" class="text-white-50 font-500 font-13 text-decoration-none">บล็อก</a></li>
                <li><a href="/contact/" class="text-white-50 font-500 font-13 text-decoration-none">ติดต่อเรา</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">บ้าน</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">บริการหลัก</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">สินค้า</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ผลงาน</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">mDrift กระบวนการ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">เทคโนโลยี</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ความเชี่ยวชาญ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ข้อมูลเชิงลึกของเรา</a></li>
                <li><a href="#" class="text-white-50 font-500 font-14 text-decoration-none">คำขอโทรกลับ</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">บริการ</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ระบบอัตโนมัติอุตสาหกรรม</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การพัฒนาเว็บ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">มือถือ (IOS/Android)</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การออกแบบ UI/UX</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การตลาดดิจิทัล</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การเรียนรู้ของเครื่อง</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การเรียนรู้ธุรกิจ</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">ติดต่อเรา</h4>
              <p class="font-13 mb-0 text-white-50">(843) 555-0130</p>
              <p class="font-13 mb-0 text-white-50">support@mdriftthailand.com</p>
              <p class="font-13 mb-0 text-white-50">mDrift Technologies(S) PTE LTD</p>
              <p class="font-13 mb-0 text-white-50">#71 Dunlop Street, Singapore - 209399</p>
            </div>
          </div>
        </div>
      </footer>

    </div>
    
    <script src='/static/js/jquery-3.6.0.min.js'></script>
    <script src='/static/js/bootstrap.bundle.min.js'></script>
    <script>
      var getpageHt = $(window).outerHeight();
      $('.banner-s').css({ 'height': getpageHt - 338});

      $(function () {
        $(document).scroll(function () {
          var $nav = $(".navbar");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </body>
</html>