{% load wagtailimages_tags %}
{% for card in self.cards %}
<div class="col-12 col-lg-3">
    <figure class="figure position-relative mb-4">
        {% image card.image original as img %}
      <div class="figure-img mb-0" >
        <img src="{{ img.url }}" class="figure-img img-fluid mb-0 border" >
      <figcaption class="figure-caption font-14 font-500 text-center text-primary pt-4 w-100 ">
        {{ card.text }}
      </figcaption>
    </figure>
  </div>
{% endfor %}