.about {
	.banner-s {
		
	}

	.vision {
		img {
			width: 1.9375rem;
		}
		p {
			padding: 1.5625rem 3.75rem 0px 3.75rem;
			@media (max-width: 991.98px) {
				padding: 1.5625rem 1rem 0px 1rem;

			}
		}
	}
	.core-team {
		.media {
			padding: 0.75rem;
		    border-radius: 1rem;
		    box-shadow: 0.25rem 0.1875rem 0.5rem 0px #00000030;
			img {
				width: 7.5rem;
				border-radius: 0.625rem;
			}
		}
	}
}