.contact {

  .banner-s {
    .phones {
      position: absolute;
      bottom: -18px;
      left: 11rem;
      z-index: 9;
      img {
        width: 675px;
        left: -181px;
      }
    }
  }

  .content {
    .figure {
      .figure-caption {
        position: absolute;
          bottom: 0;
          font-weight: 500;
          padding: 1.25rem 0;
          background: #0000008f;
      }
    }
    .addres-type {
      li {
          min-width: 220px;
          @media (max-width: 991.98px) {
            width: 100%;
          }
        &:first-of-type {
        }
        &:nth-of-type(2) {
          img {
          width: 0.8125rem;
          }
        }
        img {
          width: 1.25rem;
        }
        p {
          line-height: 1.375rem;
        }
      }
    }
  }

  .address-sec {
    .card {
      box-shadow: 4px 6px 10px #0e0e0e4f;
      height: 386px;
      .card-body {
        p {
          line-height: 24px;
        }
        a {
          color: #5B6C8F;
        }
      }
    }
  }
}