body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: $grey;
}

* {
  outline: none;
}

.font-10 {
  font-size: .6rem;
}

.font-11 {
  font-size: 0.6875rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-13 {
  font-size: 0.8125rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-15 {
  font-size: 0.9375rem;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-22 {
  font-size: 1.375rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-30 {
  font-size: 1.875rem;
}

.font-32 {
  font-size: 2rem;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

nav {
  background-color: $grey;
  &.navbar {
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding-right: 1rem;
          padding-left: 1rem;
          font-size: 1rem;
          color: $text-primary-color;
          &.active {
            color: #000;
          }
        }
      }
    }
  }
  &.scrolled {
    box-shadow: 1px 1px 7px #00000069;
  }
  .pagination {
    .page-item {
      .page-link {
        padding: 0.3125rem 0.9375rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: rgba(173, 181, 199, 1);
        &.active {
          color: $primary-color;
        }
      }
      &:first-of-type {
        .page-link {
          font-size: 1.375rem;
          padding: 0px 0.9375rem;
          line-height: 1.9375rem;
        }
      }
      &:last-of-type {
        .page-link {
          font-size: 1.375rem;
          padding: 0px 0.9375rem;
          line-height: 1.9375rem;
        }
      }
      &.disabled {
        .page-link {
          background-color: rgba(173, 181, 199, 1);;
          color: white !important;
        }
      }
    }
  }
}
.navbar-brand {
  img {
        width: 115px;
      }
}

.banner {
  background: rgb(253,116,155);
  background: linear-gradient(174deg, #fd749b -12.41%, #281ac8 88.50%);
}

.heading {
  h2 {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 500;
  }
} 

p {
  color: $text-primary-color;
  line-height: 1.75rem;
}

.text-primary {
  color: $primary-color !important;
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.text-white-50 {
  color: #A2A2A2 !important;
}

footer {
  ul {
    line-height: 2rem;
  }
}

.banner-s {
  margin-top: 68px;
  background-color: #E0F0F6;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: linear-gradient(223.45deg, #FFFFFF -22.5%, rgba(255, 255, 255, 0) 57.85%);
    border-radius: 54%;
  }
  .phones {
    position: absolute;
      bottom: -18px;
      right: 0px;
      z-index: 9;
      img {
        &:first-of-type {
            width: 300px;
          position: relative;
          right: -6rem;
        }
        &:last-of-type {
          width: 275px;
        }
      }
  }
}

.quick-contact {
  .form-control:not(textarea) {
    height: 37px;
    color: #5B6C8F;
  }
  textarea {
    height: 143px !important;
  }
}

.navbar-toggler {
  position: relative;
  padding: 8px;
  background-color: $primary-color;
  .navbar-toggler-icon {
    background-image: none;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    top: 6px;
    position: relative;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    left: 0;
    right: 0;
    top: 8px;
    margin: 0 auto;
  }
  &:before {
    content: '';
    position: absolute;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 1rem;
  }
}