.home {
	.content {
		.figure {
			.figure-caption {
				position: absolute;
			    bottom: 0;
			    font-weight: 500;
			    padding: 1rem 0;
			    background: #0000008f;
			}
		}
	}

	.hardware-product {
		p {
			padding: 0 8rem;
			@media (max-width: 1199.98px) {
				padding: 0;
			}
		}
	}

	.our-project {
		@extend .content ;
	}

	.through-mdrift {
		background: url(../../images/homebanner1.png) no-repeat center;
		background-size: cover;
    	height: 291px;
    	@media (max-width: 1199.98px) {
			background-position: right;
		}
    	h2 {
    		font-weight: 600;
		    font-size: 2.375rem;
		    line-height: 3.25rem;
    	}
	}

	.technologies {
		ul {
			li {
				padding: 0px 1.175rem;
				@media (max-width: 575.98px) {
					display: block;
					text-align: center;
				}
				@media (max-width: 1199.98px) {
					margin-bottom: 1.5rem;
					
				}
			    img {
			    	// width: 100px;
			    }
			}
		}
	}
}