.products {

  .banner-s {
    background: url(../../images/homebanner1.png) no-repeat center;
    background-size: cover;
    height: 291px;
    &:after {
      display: none !important;
    }
  }

  .content {
    p {
      padding: 0 8rem;
      @media (max-width: 1199.98px) {
        padding: 0;
      }
    }
  }
}