.projects {

  .banner-s {
    .phones {
      position: absolute;
      bottom: -18px;
      left: 11rem;
      z-index: 9;
      img {
        width: 350px;
      }
    }
  }
  .content {
    p {
      padding: 0 8rem;
      @media (max-width: 1199.98px) {
        padding: 0;
      }
    }
    .figure {
      .figure-caption {
        position: absolute;
          bottom: 0;
          font-weight: 500;
          padding: 20px 0;
          background: #0000008f;
      }
    }
  }
}