.services {
	.content {
		.box {			
    		overflow: hidden;
    		cursor: pointer;
    		height: 330px;

    		&:hover {
    			.box-content {
    				opacity: 0;
    			}
    			.box-hover-content {
    				opacity: 1;
    			}
    			img {
    			transform: scale(1.5) translateY(-20px);
    		}
    		}
			img {
				transform: scale(1.5) translateY(0);
    			transition: all 0.4s ease-out 0s;
			}
			.box-content {
				position: absolute;
			    bottom: calc(100% - 210px);
			    margin: 0 auto;
			    width: 100%;
			    height: calc(100% - 254px);
			    background: rgba(0, 0, 0, 0.5);
			    padding: 0.9375rem 1.875rem;
			    transition: all 0.4s ease-out 0s;
			}
			.box-hover-content {
				position: absolute;
			    top: 0;
			    background: rgba(0, 0, 0, 0.9);
			    width: 100%;
			    height: 100%;
			    padding: 25px;
			    transition: all 0.4s ease 0s;
			    opacity: 0;
			}
		}
	}
}