.technologies {

  .banner-s {
    .phones {
      position: absolute;
      bottom: -18px;
      left: 11rem;
      z-index: 9;
      img {
        width: 322px;
      }
    }
  }

  .content {
    p {
      padding: 0 8rem;
    }
    .hr-l {
      &:after {
        content: '';
        position: absolute;
        bottom: -16px;
        width: 118%;
        background: #00000017;
        height: 1px;
        left: -105px;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}