<!doctype html>
{% load wagtailcore_tags widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/static/styles/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/static/styles/css/font-awesome.min.css'>    
    <link rel="stylesheet" href='/static/styles/css/style.css'>    
    <title>mDrift</title>
  </head>
  <body>
    <div class="contact">

      <nav class="fixed-top navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/static/images/mdrift_logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="m-auto me-0 navbar-nav">
              <li class="nav-item">
                <a class="nav-link " href="/">บ้าน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">เกี่ยวกับเรา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html">บริการ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products.html">สินค้า</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/technologies/">เทคโนโลยี</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">โครงการ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="blog.html">บล็อก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact/">ติดต่อเรา</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="banner-s">
        <div class="container h-100 position-relative">
          <div class="row h-100">
            <div class="align-items-center col-12 col-lg-4 d-flex">
              <div>
              <h3 class="text-primary font-600 font-32">ติดต่อเรา</h3>
              <p class="font-14 fw-light mb-0 mt-4"> ติดต่อกับพวกเรา. ร่วมมือกันสานฝันให้เป็นจริง. </p>
              </div>
            </div>
            <div class="col-8 d-lg-block d-none position-relative">
              <div class="phones">
                <img src="/static/images/contact-bg.png">
              </div>
            </div>         
          </div>
        </div>
      </div>        

      <section class="content bg-white py-5">
        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-12">
              <form class="border p-4" id="contactForm" name="contact-form" action="{% pageurl page %}" method="POST">
                {% csrf_token %}
                                            
                {% for field in form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {% render_field field class+="form-control" %}
                 
                </div>
              {% endfor %}
                <div class="mb-3">
                  <button class="btn btn-primary rounded-pill w-100">ส่ง</button>
                </div>
              </form>
            </div>

            <div class="col-lg-8 col-12 ps-lg-5">
              <ul class="addres-type d-block d-lg-flex list-inline list-unstyled py-5 py-lg-0 w-100">
                <li class="list-inline-item">
                  <div class="text-center">
                    <img src="/static/images/map-icon.png" class="mb-3">
                    <p class="font-13 p-0">mDrift Technologies(S) PTE LTD, #71 Dunlop Street, Thailand - 209399</p>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="text-center">
                    <img src="/static/images/contact-icon.png" class="mb-3">
                    <p class="font-13 p-0 mb-0">(843)555-0130</p>
                    <p class="font-13 p-0">(843)555-0120</p>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="text-center">
                    <img src="/static/images/mail-icon.png" class="mb-3">
                    <p class="font-13 p-0 mb-0">support@mdriftthailand.com</p>
                  </div>
                </li>
              </ul>
              <div class="w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15955.13369710297!2d103.84470321985955!3d1.3050249847705668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smDrift%20Technologies(S)%20PTE%20LTD%2C%20%2371%20Dunlop%20Street%2C%20Thailand%20-%20209399!5e0!3m2!1sen!2sin!4v1635320590275!5m2!1sen!2sin" width="100%" height="257" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="address-sec py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading pt-3">
                <h2 class="text-center mb-4">Mdrift Worldwide</h2>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    สิงคโปร์
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.si</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    แคนาดา
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.co</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    เบงกาลูรู <span class="font-12">สำนักงานใหญ่</span>
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.in</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    โคจิ <span class="font-12">ศูนย์จัดส่งสินค้า</span>
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.in</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    สหรัฐอเมริกา
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.us</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="border-0 card">
                <div class="card-body p-4 text-center">
                  <h4 class="font-20 text-primary text-uppercase">
                    ประเทศอังกฤษ
                  </h4>
                  <p class="font-13 mb-2">mDrift Technologies (S) PTE LTD, #71 Dunlop Street, Singapore - 209399</p>
                  <p class="font-13 mb-2">+6591364308</p>
                  <a href="#" class="font-13 text-decoration-none">www.mdrift.uk</a>
                </div>
                <div class="card-footer border-0 p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782978326253!2d103.8525023565825!3d1.305306142332762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19b9076f0ba9%3A0x2a198f232129a9c1!2smDrift%20Technologies%20Pte%20Ltd!5e0!3m2!1sen!2sin!4v1635325308842!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" loading="lazy"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <footer class="bg-black py-5 px-lg-0 px-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-12 pe-lg-5">
              <a class="navbar-brand">
                <img src="/static/images/mdrift_logo.png">
              </a>
              <form class="align-items-center mt-4 row">
                <div class="col-10">
                  <label class="visually-hidden">อีเมล</label>
                  <input placeholder="กรอกอีเมล์เพื่อสมัครสมาชิก" type="text" class="form-control bg-black font-13">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-close-white btn-primary btn-sm font-600">ไป</button>
                </div>
              </form>
              <p class="font-13 mt-4 text-white-50"> Fusce ut elit aliquet, fermentum leo vel, tempus nunc. Fusce eu rhoncus augue. Fusce vel metus pharetra, fermentum</p>
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/facebook.png" class="w-50"></a></li>
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/twitter.png" class="w-50"></a></li>
                <li class="list-inline-item me-0"><a href="#"><img src="/static/images/instagram.png" class="w-50"></a></li>
              </ul>
              <p class="font-11 text-white-50 mb-0">&copy; 2021  ออกแบบโดย mDrift</p>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">เมนู</h4>
              <ul class="list-unstyled">
                <li><a href="/" class="text-white-50 font-500 font-13 text-decoration-none">บ้าน</a></li>
                <li><a href="/about/" class="text-white-50 font-500 font-13 text-decoration-none">เกี่ยวกับเรา</a></li>
                <li><a href="services.html" class="text-white-50 font-500 font-13 text-decoration-none">บริการ</a></li>
                <li><a href="products.html" class="text-white-50 font-500 font-13 text-decoration-none">สินค้า</a></li>
                <li><a href="/technologies/" class="text-white-50 font-500 font-13 text-decoration-none">เทคโนโลยี</a></li>
                <li><a href="projects.html" class="text-white-50 font-500 font-13 text-decoration-none">โครงการ</a></li>
                <li><a href="blog.html" class="text-white-50 font-500 font-13 text-decoration-none">บล็อก</a></li>
                <li><a href="/contact/" class="text-white-50 font-500 font-13 text-decoration-none">ติดต่อเรา</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">บ้าน</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">บริการหลัก</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">สินค้า</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ผลงาน</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">mDrift กระบวนการ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">เทคโนโลยี</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ความเชี่ยวชาญ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ข้อมูลเชิงลึกของเรา</a></li>
                <li><a href="#" class="text-white-50 font-500 font-14 text-decoration-none">คำขอโทรกลับ</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">บริการ</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">ระบบอัตโนมัติอุตสาหกรรม</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การพัฒนาเว็บ</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">มือถือ (IOS/Android)</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การออกแบบ UI/UX</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การตลาดดิจิทัล</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การเรียนรู้ของเครื่อง</a></li>
                <li><a href="#" class="text-white-50 font-500 font-13 text-decoration-none">การเรียนรู้ธุรกิจ</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-12">
              <h4 class="font-20 text-white mb-4">ติดต่อเรา</h4>
              <p class="font-13 mb-0 text-white-50">(843) 555-0130</p>
              <p class="font-13 mb-0 text-white-50">support@mdriftthailand.com</p>
              <p class="font-13 mb-0 text-white-50">mDrift Technologies(S) PTE LTD</p>
              <p class="font-13 mb-0 text-white-50">#71 Dunlop Street, Singapore - 209399</p>
            </div>
          </div>
        </div>
      </footer>

    </div>
    
    <script src='/static/js/jquery-3.6.0.min.js'></script>
    <script src='/static/js/bootstrap.bundle.min.js'></script>
    <script>
      var getpageHt = $(window).outerHeight();
      $('.banner-s').css({ 'height': getpageHt - 338});

      $(function () {
        $(document).scroll(function () {
          var $nav = $(".navbar");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </body>
</html>