body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #F7F7F7; }

* {
  outline: none; }

.font-10 {
  font-size: .6rem; }

.font-11 {
  font-size: 0.6875rem; }

.font-12 {
  font-size: 0.75rem; }

.font-13 {
  font-size: 0.8125rem; }

.font-14 {
  font-size: 0.875rem; }

.font-15 {
  font-size: 0.9375rem; }

.font-16 {
  font-size: 1rem; }

.font-18 {
  font-size: 1.125rem; }

.font-20 {
  font-size: 1.25rem; }

.font-22 {
  font-size: 1.375rem; }

.font-24 {
  font-size: 1.5rem; }

.font-30 {
  font-size: 1.875rem; }

.font-32 {
  font-size: 2rem; }

.font-500 {
  font-weight: 500; }

.font-600 {
  font-weight: 600; }

nav {
  background-color: #F7F7F7; }
  nav.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0; }
  nav.navbar .navbar-nav .nav-item .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #5B6C8F; }
    nav.navbar .navbar-nav .nav-item .nav-link.active {
      color: #000; }
  nav.scrolled {
    box-shadow: 1px 1px 7px #00000069; }
  nav .pagination .page-item .page-link {
    padding: 0.3125rem 0.9375rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #adb5c7; }
    nav .pagination .page-item .page-link.active {
      color: #103178; }
  nav .pagination .page-item:first-of-type .page-link {
    font-size: 1.375rem;
    padding: 0px 0.9375rem;
    line-height: 1.9375rem; }
  nav .pagination .page-item:last-of-type .page-link {
    font-size: 1.375rem;
    padding: 0px 0.9375rem;
    line-height: 1.9375rem; }
  nav .pagination .page-item.disabled .page-link {
    background-color: #adb5c7;
    color: white !important; }

.navbar-brand img {
  width: 115px; }

.banner {
  background: #fd749b;
  background: linear-gradient(174deg, #fd749b -12.41%, #281ac8 88.5%); }

.heading h2 {
  color: #103178;
  font-size: 2rem;
  font-weight: 500; }

p {
  color: #5B6C8F;
  line-height: 1.75rem; }

.text-primary {
  color: #103178 !important; }

.btn-primary {
  background-color: #103178 !important;
  border-color: #103178 !important; }

.text-white-50 {
  color: #A2A2A2 !important; }

footer ul {
  line-height: 2rem; }

.banner-s {
  margin-top: 68px;
  background-color: #E0F0F6;
  position: relative;
  overflow: hidden; }
  .banner-s:after {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: linear-gradient(223.45deg, #FFFFFF -22.5%, rgba(255, 255, 255, 0) 57.85%);
    border-radius: 54%; }
  .banner-s .phones {
    position: absolute;
    bottom: -18px;
    right: 0px;
    z-index: 9; }
    .banner-s .phones img:first-of-type {
      width: 300px;
      position: relative;
      right: -6rem; }
    .banner-s .phones img:last-of-type {
      width: 275px; }

.quick-contact .form-control:not(textarea) {
  height: 37px;
  color: #5B6C8F; }
.quick-contact textarea {
  height: 143px !important; }

.navbar-toggler {
  position: relative;
  padding: 8px;
  background-color: #103178; }
  .navbar-toggler .navbar-toggler-icon {
    background-image: none;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    top: 6px;
    position: relative; }
  .navbar-toggler:after {
    content: '';
    position: absolute;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    left: 0;
    right: 0;
    top: 8px;
    margin: 0 auto; }
  .navbar-toggler:before {
    content: '';
    position: absolute;
    background-color: white;
    width: 1.875rem;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 1rem; }

.home .content .figure .figure-caption, .home .our-project .figure .figure-caption {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  padding: 1rem 0;
  background: #0000008f; }
.home .hardware-product p {
  padding: 0 8rem; }
  @media (max-width: 1199.98px) {
    .home .hardware-product p {
      padding: 0; } }
.home .through-mdrift {
  background: url(../../images/homebanner1.png) no-repeat center;
  background-size: cover;
  height: 291px; }
  @media (max-width: 1199.98px) {
    .home .through-mdrift {
      background-position: right; } }
  .home .through-mdrift h2 {
    font-weight: 600;
    font-size: 2.375rem;
    line-height: 3.25rem; }
.home .technologies ul li {
  padding: 0px 1.175rem; }
  @media (max-width: 575.98px) {
    .home .technologies ul li {
      display: block;
      text-align: center; } }
  @media (max-width: 1199.98px) {
    .home .technologies ul li {
      margin-bottom: 1.5rem; } }

.about .vision img {
  width: 1.9375rem; }
.about .vision p {
  padding: 1.5625rem 3.75rem 0px 3.75rem; }
  @media (max-width: 991.98px) {
    .about .vision p {
      padding: 1.5625rem 1rem 0px 1rem; } }
.about .core-team .media {
  padding: 0.75rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.1875rem 0.5rem 0px #00000030; }
  .about .core-team .media img {
    width: 7.5rem;
    border-radius: 0.625rem; }

.services .content .box, .services .home .our-project .box, .home .services .our-project .box {
  overflow: hidden;
  cursor: pointer;
  height: 330px; }
  .services .content .box:hover .box-content, .services .home .our-project .box:hover .box-content, .home .services .our-project .box:hover .box-content {
    opacity: 0; }
  .services .content .box:hover .box-hover-content, .services .home .our-project .box:hover .box-hover-content, .home .services .our-project .box:hover .box-hover-content {
    opacity: 1; }
  .services .content .box:hover img, .services .home .our-project .box:hover img, .home .services .our-project .box:hover img {
    transform: scale(1.5) translateY(-20px); }
  .services .content .box img, .services .home .our-project .box img, .home .services .our-project .box img {
    transform: scale(1.5) translateY(0);
    transition: all 0.4s ease-out 0s; }
  .services .content .box .box-content, .services .home .our-project .box .box-content, .home .services .our-project .box .box-content {
    position: absolute;
    bottom: calc(100% - 210px);
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 254px);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.9375rem 1.875rem;
    transition: all 0.4s ease-out 0s; }
  .services .content .box .box-hover-content, .services .home .our-project .box .box-hover-content, .home .services .our-project .box .box-hover-content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    padding: 25px;
    transition: all 0.4s ease 0s;
    opacity: 0; }

.products .banner-s {
  background: url(../../images/homebanner1.png) no-repeat center;
  background-size: cover;
  height: 291px; }
  .products .banner-s:after {
    display: none !important; }
.products .content p, .products .home .our-project p, .home .products .our-project p {
  padding: 0 8rem; }
  @media (max-width: 1199.98px) {
    .products .content p, .products .home .our-project p, .home .products .our-project p {
      padding: 0; } }

.technologies .banner-s .phones {
  position: absolute;
  bottom: -18px;
  left: 11rem;
  z-index: 9; }
  .technologies .banner-s .phones img {
    width: 322px; }
.technologies .content p, .technologies .home .our-project p, .home .technologies .our-project p {
  padding: 0 8rem; }
.technologies .content .hr-l:after, .technologies .home .our-project .hr-l:after, .home .technologies .our-project .hr-l:after {
  content: '';
  position: absolute;
  bottom: -16px;
  width: 118%;
  background: #00000017;
  height: 1px;
  left: -105px;
  right: 0;
  margin: 0 auto; }

.blog .banner-s .phones {
  position: absolute;
  bottom: -18px;
  left: 11rem;
  z-index: 9; }
  .blog .banner-s .phones img {
    width: 350px; }

.projects .banner-s .phones {
  position: absolute;
  bottom: -18px;
  left: 11rem;
  z-index: 9; }
  .projects .banner-s .phones img {
    width: 350px; }
.projects .content p, .projects .home .our-project p, .home .projects .our-project p {
  padding: 0 8rem; }
  @media (max-width: 1199.98px) {
    .projects .content p, .projects .home .our-project p, .home .projects .our-project p {
      padding: 0; } }
.projects .content .figure .figure-caption, .projects .home .our-project .figure .figure-caption, .home .projects .our-project .figure .figure-caption {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  padding: 20px 0;
  background: #0000008f; }

.contact .banner-s .phones {
  position: absolute;
  bottom: -18px;
  left: 11rem;
  z-index: 9; }
  .contact .banner-s .phones img {
    width: 675px;
    left: -181px; }
.contact .content .figure .figure-caption, .contact .home .our-project .figure .figure-caption, .home .contact .our-project .figure .figure-caption {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  padding: 1.25rem 0;
  background: #0000008f; }
.contact .content .addres-type li, .contact .home .our-project .addres-type li, .home .contact .our-project .addres-type li {
  min-width: 220px; }
  @media (max-width: 991.98px) {
    .contact .content .addres-type li, .contact .home .our-project .addres-type li, .home .contact .our-project .addres-type li {
      width: 100%; } }
  .contact .content .addres-type li:nth-of-type(2) img, .contact .home .our-project .addres-type li:nth-of-type(2) img, .home .contact .our-project .addres-type li:nth-of-type(2) img {
    width: 0.8125rem; }
  .contact .content .addres-type li img, .contact .home .our-project .addres-type li img, .home .contact .our-project .addres-type li img {
    width: 1.25rem; }
  .contact .content .addres-type li p, .contact .home .our-project .addres-type li p, .home .contact .our-project .addres-type li p {
    line-height: 1.375rem; }
.contact .address-sec .card {
  box-shadow: 4px 6px 10px #0e0e0e4f;
  height: 386px; }
  .contact .address-sec .card .card-body p {
    line-height: 24px; }
  .contact .address-sec .card .card-body a {
    color: #5B6C8F; }

/*# sourceMappingURL=style.css.map */
